#badania2 p.tekst {
    margin: 12px auto;
}

header.badania_page {
    height: 35%;
}

header.badania_page p {
    padding: 25px 15%;
}

#articles {
    width: 80%;
    margin: 0 auto;
}

.article {
    margin: 70px auto;
    position: relative;
    overflow: auto;
    width: 90%;
    height: auto;
}

.article::before {
    border-bottom: 1px solid #000;
    clear: both;
    position: absolute;
    content: '';
    width: 70%;
    top: 0;
    left: 0;
    bottom: 10px;
    right: 0;
    height: auto;
    overflow: auto;
    margin: 0 auto;
    z-index: -1;
}

.article::after {
    border-bottom: 1px solid #000;
    clear: both;
    position: absolute;
    content: '';
    width: 30%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
    overflow: auto;
    margin: 0 auto;
    z-index: -1;
}

.article h3 {
    margin: 30px;
}

.article_btn {
    margin: 60px 20px 60px 0;
    padding: 0;
    color: rgba(247, 106, 106);
    float: right;
    outline: none;
    border: none;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
    background-color: #fff;
    z-index: 10;
    display: block;  
}

.article p {
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
    letter-spacing: 1px;
    margin: default !important;
}

.article div p:nth-child(1){
    margin-top: 0;
}

.read_more {
    transition: max-height .8s ease-in-out;
    max-height: 0;
    overflow: hidden;
}

.full_article {
    max-height: 1000px;
    transition: max-height .8s ease-in-out;
}

.image_5 {
    background-image: url(../img/laboratorium2.jpg);
}

footer.badania_page .image_4{
    height: 300px;
    clear: both;
}


@media screen and (max-width: 970px) {
    .article p {
        text-align: center;
    }
}

@media screen and (max-width: 640px) {
    .article h3 {
    text-align: center;
}
}
